@import url(../root.css);

.profile-top {
    margin-top: 0px;
}

.profile-top .background-profile {
    background-image: url(../../picture/profile-home-daksanaya.svg);
    width: 100%;
    height: 600px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
}

.profile-top .profile-top-right {
    color: white;
    padding-top: 200px;
}

.profile-top-right .title-profile-top {
    font-size: var(--font-h1);
}

.profile-top-right .isi-profile-top {
    font-size: var(--font-p);
    font-weight: 300;
}

@media screen and (max-width: 576px) {
    .profile-top .background-profile {
        height: 300px;
    }
    .profile-top .profile-top-right {
        padding-top: 80px;
    }
    .profile-top-right .isi-profile-top {
        font-size: var(--font-h4);
    }
}